In [1]:
# Import modules
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Pull data from pgAmin4 to import data 
engine = create_engine('postgresql://postgres:postgres@localhost:5432/WHR_DB')
conn = engine.connect()

#Or pull in from CSV file
whr_sql = "Resources/whr_db.csv"

In [13]:
# Read from sql file
# whr = pd.read_sql("SELECT * FROM whr_db", conn)

# # Read from CSV file
whr = pd.read_csv(whr_sql)

whr

,country_name,year,ladder_score,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,total_deaths,covid_deaths,median_age,population,country_area,population_density
0,Afghanistan,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,NaN,NaN,NaN,27703539.0,652230.0,42.5
1,Afghanistan,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,NaN,NaN,NaN,28480801.0,652230.0,43.7
2,Afghanistan,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,NaN,NaN,NaN,29116851.0,652230.0,44.6
3,Afghanistan,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,NaN,NaN,NaN,29752169.0,652230.0,45.6
4,Afghanistan,2012,3.783,7.705,0.521,52.240,0.531,0.236,0.776,NaN,NaN,NaN,30412510.0,652230.0,46.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2093,Zimbabwe,2017,3.638,8.016,0.754,55.000,0.753,-0.098,0.751,NaN,NaN,NaN,13805081.0,386847.0,35.7
2094,Zimbabwe,2018,3.616,8.049,0.775,55.600,0.763,-0.068,0.844,NaN,NaN,NaN,14030322.0,386847.0,36.3
2095,Zimbabwe,2019,2.694,7.950,0.759,56.200,0.632,-0.064,0.831,NaN,NaN,NaN,14277179.0,386847.0,36.9
2096,Zimbabwe,2020,3.160,7.829,0.717,56.800,0.643,-0.009,0.789,NaN,361.0,19.6,14546146.0,386847.0,37.6
2097,Zimbabwe,2021,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,NaN,NaN,NaN,14829988.0,386847.0,38.3

In [14]:
# Convert into dataframe and sort from best to worst overall ladder score
whr_db = pd.DataFrame(whr)
whr_db = whr_db.sort_values('ladder_score', ascending=False)
whr_db

,country_name,year,ladder_score,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,total_deaths,covid_deaths,median_age,population,country_area,population_density
482,Denmark,2005,8.019,10.851,0.972,69.600,0.971,NaN,0.237,NaN,NaN,NaN,5415505.0,42434.0,127.6
484,Denmark,2008,7.971,10.880,0.954,70.080,0.970,0.272,0.248,NaN,NaN,NaN,5491488.0,42434.0,129.4
603,Finland,2020,7.889,10.750,0.962,72.100,0.962,-0.116,0.164,55663.0,557.0,42.8,5572355.0,303815.0,18.3
601,Finland,2018,7.858,10.783,0.962,71.900,0.938,-0.127,0.199,54394.0,NaN,NaN,5538400.0,303815.0,18.2
604,Finland,2021,7.842,10.775,0.954,72.000,0.949,-0.098,0.186,NaN,NaN,NaN,5587442.0,303815.0,18.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334,Central African Republic,2016,2.693,6.785,0.290,44.900,0.624,0.033,0.859,NaN,NaN,NaN,4970639.0,622984.0,8.0
1796,Syria,2013,2.688,8.396,0.585,58.760,0.455,0.225,0.663,NaN,NaN,NaN,21064653.0,185887.0,113.3
9,Afghanistan,2017,2.662,7.697,0.491,52.800,0.427,-0.121,0.954,NaN,NaN,NaN,34097944.0,652230.0,52.3
12,Afghanistan,2021,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,NaN,NaN,NaN,37466414.0,652230.0,57.4
11,Afghanistan,2019,2.375,7.697,0.420,52.400,0.394,-0.108,0.924,NaN,NaN,NaN,35739709.0,652230.0,54.8

In [15]:
# Who had the highest and lowest WHR score over time?

In [16]:
# Group by country and sort from best to worst overall ladder score
groupby_country = whr_db.groupby(['country_name']).mean()

whr_countrydb = groupby_country.sort_values('ladder_score', ascending=False)

whr_countrydb = whr_countrydb.drop(columns = ["year"])

whr_countrydb

,ladder_score,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,total_deaths,covid_deaths,median_age,population,country_area,population_density
country_name,,,,,,,,,,,,,
Denmark,7.676625,10.882563,0.956937,71.265000,0.945125,0.161533,0.199125,54365.25,1277.0,42.3,5.654402e+06,42434.0,133.250000
Finland,7.614643,10.751714,0.949357,71.238571,0.940357,-0.004143,0.244500,54356.00,557.0,42.8,5.452663e+06,303815.0,17.950000
Switzerland,7.550364,11.097364,0.943455,73.430909,0.924182,0.099000,0.304636,69548.25,7597.0,43.1,8.105857e+06,39997.0,202.663636
Norway,7.501455,11.040364,0.950818,72.727273,0.954909,0.132182,0.337455,40751.25,434.0,39.7,5.196059e+06,304282.0,17.081818
Netherlands,7.466133,10.889800,0.934067,71.753333,0.907800,0.269143,0.409800,156379.50,11501.0,43.2,1.684633e+07,33893.0,497.046667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Togo,3.610200,7.251500,0.467300,53.045400,0.622900,-0.024500,0.800100,NaN,NaN,NaN,7.030696e+06,54385.0,129.280000
Burundi,3.586000,6.707833,0.429833,51.330000,0.480000,-0.034500,0.711500,NaN,NaN,NaN,1.005669e+07,25680.0,391.633333
Central African Republic,3.515000,6.961000,0.402400,43.356000,0.680400,0.027000,0.842000,NaN,NaN,NaN,4.785197e+06,622984.0,7.680000
Afghanistan,3.512231,7.654231,0.504923,52.284077,0.507692,0.056846,0.849538,NaN,NaN,NaN,3.203412e+07,652230.0,49.115385
South Sudan,3.402000,NaN,0.554750,50.410000,0.493750,NaN,0.749500,NaN,NaN,NaN,1.098216e+07,644329.0,17.025000

In [7]:
# Who had the highest and lowest WHR score in 2021?

In [8]:
# Review of the top 10 in 2021
whr_2021 = whr_db.loc[whr_db['year']== 2021].head(10)
whr_2021

,country_name,year,ladder_score,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,total_deaths,covid_deaths,median_age,population,country_area,population_density
604,Finland,2021,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,NaN,NaN,NaN,5587442.0,303815.0,18.4
497,Denmark,2021,7.620,10.933,0.954,72.7,0.946,0.030,0.179,NaN,NaN,NaN,5894687.0,42434.0,138.9
1790,Switzerland,2021,7.571,11.117,0.942,74.4,0.919,0.025,0.292,NaN,NaN,NaN,8453550.0,39997.0,211.4
786,Iceland,2021,7.554,10.878,0.983,73.0,0.955,0.160,0.673,NaN,NaN,NaN,354234.0,100250.0,3.5
1321,Netherlands,2021,7.464,10.932,0.942,72.4,0.913,0.175,0.338,NaN,NaN,NaN,17337403.0,33893.0,511.5
1413,Norway,2021,7.392,11.053,0.954,73.3,0.960,0.093,0.270,NaN,NaN,NaN,5509591.0,304282.0,18.1
1779,Sweden,2021,7.363,10.867,0.934,72.7,0.945,0.086,0.237,NaN,NaN,NaN,10261767.0,410335.0,25.0
1105,Luxembourg,2021,7.324,11.647,0.908,72.6,0.907,-0.034,0.386,NaN,NaN,NaN,639589.0,2586.0,247.3
1336,New Zealand,2021,7.277,10.643,0.948,73.4,0.929,0.134,0.242,NaN,NaN,NaN,4991442.0,264537.0,18.9
100,Austria,2021,7.268,10.906,0.934,73.3,0.908,0.042,0.481,NaN,NaN,NaN,8884864.0,82445.0,107.8

In [9]:
# Review of the bottom 10 in 2021
whr_2021 = whr_db.loc[whr_db['year']== 2021].tail(10)
whr_2021

,country_name,year,ladder_score,log_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,total_deaths,covid_deaths,median_age,population,country_area,population_density
282,Burundi,2021,3.775,6.635,0.490,53.400,0.626,-0.024,0.607,NaN,NaN,NaN,12241065.0,25680.0,476.7
2066,Yemen,2021,3.658,7.578,0.832,57.122,0.602,-0.147,0.800,NaN,NaN,NaN,30399243.0,527968.0,57.6
1843,Tanzania,2021,3.623,7.876,0.702,57.999,0.833,0.183,0.577,NaN,NaN,NaN,62092761.0,885800.0,70.1
735,Haiti,2021,3.615,7.477,0.540,55.700,0.593,0.422,0.721,NaN,NaN,NaN,11198240.0,27560.0,406.3
1130,Malawi,2021,3.600,6.958,0.537,57.948,0.780,0.038,0.729,NaN,NaN,NaN,20308502.0,94080.0,215.9
1060,Lesotho,2021,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,NaN,NaN,NaN,2177740.0,30355.0,71.7
233,Botswana,2021,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,NaN,NaN,NaN,2350667.0,566730.0,4.1
1581,Rwanda,2021,3.415,7.676,0.552,61.400,0.897,0.061,0.167,NaN,NaN,NaN,12943132.0,24668.0,524.7
2097,Zimbabwe,2021,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,NaN,NaN,NaN,14829988.0,386847.0,38.3
12,Afghanistan,2021,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,NaN,NaN,NaN,37466414.0,652230.0,57.4

In [10]:
#COVID Analysis

In [11]:
# Who had the most COVID deaths per population?
whr_covid = whr_countrydb.dropna(subset = ["covid_deaths"])
whr_covid["covid_deaths_per_total_deaths"]=whr_covid["covid_deaths"]/whr_covid["total_deaths"]
whr_covid["covid_deaths_per_population"] = whr_covid["covid_deaths"]/whr_covid["population"]

whr_covid = whr_covid.drop(columns=['ladder_score','log_gdp_per_capita','social_support','healthy_life_expectancy','freedom_to_make_life_choices','generosity','perceptions_of_corruption','total_deaths','population'])

whr_covid = whr_covid.sort_values('covid_deaths_per_total_deaths', ascending=False)

whr_covid

<ipython-input-11-5104393a9926>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whr_covid["covid_deaths_per_total_deaths"]=whr_covid["covid_deaths"]/whr_covid["total_deaths"]
<ipython-input-11-5104393a9926>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  whr_covid["covid_deaths_per_population"] = whr_covid["covid_deaths"]/whr_covid["population"]

,covid_deaths,median_age,country_area,population_density,covid_deaths_per_total_deaths,covid_deaths_per_population
country_name,,,,,,
Colombia,43142.0,32.2,1038700.0,44.493750,0.171172,9.335642e-04
Belgium,19377.0,41.8,30278.0,369.760000,0.169599,1.730847e-03
Ecuador,14000.0,28.1,276841.0,56.087500,0.169113,9.016364e-04
Mexico,125775.0,29.3,1943945.0,61.318750,0.157512,1.054999e-03
Chile,16594.0,35.4,743812.0,23.187500,0.147841,9.613092e-04
...,...,...,...,...,...,...
Georgia,2449.0,38.7,69700.0,70.393750,NaN,4.991040e-04
Cambodia,0.0,25.6,176515.0,87.612500,NaN,0.000000e+00
Benin,44.0,18.8,110622.0,97.953846,NaN,4.060156e-06
Zimbabwe,361.0,19.6,386847.0,34.462500,NaN,2.708001e-05
Tanzania,21.0,17.7,885800.0,56.587500,NaN,4.189683e-07

In [12]:
# Creating columns for 2017, 2018, 2019, 2020, 2021

whr_2021= whr_db.loc[whr_db['year']== 2021]
whr_2021 = whr_2021[["country_name","ladder_score"]]
whr_2021.columns = ['country_name', '2021']
covidvwhr1 = pd.merge(whr_covid, whr_2021, on = 'country_name')

whr_2020= whr_db.loc[whr_db['year']== 2020]
whr_2020 = whr_2020[["country_name","ladder_score"]]
whr_2020.columns = ['country_name', '2020']
covidvwhr2 = pd.merge(covidvwhr1, whr_2020, on = 'country_name')

whr_2019= whr_db.loc[whr_db['year']== 2019]
whr_2019 = whr_2019[["country_name","ladder_score"]]
whr_2019.columns = ['country_name', '2019']
covidvwhr3 = pd.merge(covidvwhr2, whr_2019, on = 'country_name')

whr_2018 = whr_db.loc[whr_db['year']== 2018]
whr_2018 = whr_2018[["country_name","ladder_score"]]
whr_2018.columns = ['country_name', '2018']
covidvwhr4 = pd.merge(covidvwhr3, whr_2018, on = 'country_name')

whr_2017= whr_db.loc[whr_db['year']== 2017]
whr_2017 = whr_2017[["country_name","ladder_score"]]
whr_2017.columns = ['country_name', '2017']
covidvwhr5 = pd.merge(covidvwhr4, whr_2017, on = 'country_name')

whr_2016= whr_db.loc[whr_db['year']== 2016]
whr_2016 = whr_2016[["country_name","ladder_score"]]
whr_2016.columns = ['country_name', '2016']
covidvwhr6 = pd.merge(covidvwhr5, whr_2016, on = 'country_name')

covidvwhr = covidvwhr6[["country_name","2016","2017","2018","2019","2020","2021","covid_deaths_per_total_deaths","covid_deaths_per_population"]]
covidvwhr

,country_name,2016,2017,2018,2019,2020,2021,covid_deaths_per_total_deaths,covid_deaths_per_population
0,Colombia,6.234,6.157,5.984,6.350,5.709,6.012,0.171172,9.335642e-04
1,Belgium,6.949,6.928,6.892,6.772,6.839,6.834,0.169599,1.730847e-03
2,Ecuador,6.115,5.840,6.128,5.809,5.354,5.764,0.169113,9.016364e-04
3,Mexico,6.824,6.410,6.550,6.432,5.964,6.317,0.157512,1.054999e-03
4,Chile,6.579,6.320,6.436,5.942,6.151,6.172,0.147841,9.613092e-04
...,...,...,...,...,...,...,...,...,...
83,Georgia,4.448,4.451,4.659,4.892,5.123,4.891,NaN,4.991040e-04
84,Cambodia,4.461,4.586,5.122,4.998,4.377,4.830,NaN,0.000000e+00
85,Benin,4.007,4.853,5.820,4.976,4.408,5.045,NaN,4.060156e-06
86,Zimbabwe,3.735,3.638,3.616,2.694,3.160,3.145,NaN,2.708001e-05
87,Tanzania,2.903,3.347,3.445,3.640,3.786,3.623,NaN,4.189683e-07